.searchButton{
    font-weight: bold;
}

.searchBarInput {
    width: 300px; /* Set a specific width for the input field */
    padding: 10px; /* Optional: Add some padding for better appearance */
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 4px; /* Optional: Add rounded corners */
  }
  